<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Urls:</strong>
  <%= @project.urls %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @project.schedule %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @project.startdate %>
</p>

<%= link_to 'Back', projects_path %>
